@{
	ViewData["Title"] = "Framside";
}

<div class="row">
	<div class="col-md-3">
		<h2>Kva</h2>
		<ul>
			<li>Eit autoritetsregister er eit register som til ein kvar tid inneheld dei "riktige" verdiar av ein førekomst, og som andre system skal forholda seg til.</li>
			<li>Dette er ein demo for testing. Den vert tilbakestilt ein til fleire gong i døgnet.</li>
		</ul>
	</div>
	<div class="col-md-3">
		<h2>Kvifor</h2>
		<ul>
			<li>Dette autoritetsregisteret gir personar som er omtalt i Fylkesarkivet i Sogn og Fjordane offentlege websystem unike og oppslagsbare identifikatorar.</li>
			<li>Autoritetsregisteret sikkrar at oppdaterte og korrekte definisjonar vert brukt.</li>
		</ul>
	</div>
	<div class="col-md-3">
		<h2>Korleis</h2>
		<ul>
			<li>Prosjekt: Semantisk teknologi og tenesteutvikling for arkiv</li>
			<li><a href="https://www.arkivverket.no/arkivutvikling/utviklingsmidler-for-arkivsektoren/_/attachment/download/b30648b6-f875-403d-88f3-efa9e7b3497e:49a9bd44b49aed8f293b009a4a55d548e743e8f2/Fylkesarkivet%20i%20Sogn%20og%20Fjordane%20-%20Semantrisk%20teknologi%20og%20tjenesteutvikling%20for%20arkiv.pdf" target="_blank">Fylkesarkivet i Sogn og Fjordane - Semantrisk teknologi og tjenesteutvikling for arkiv.pdf</a></li>
		</ul>
	</div>
	<div class="col-md-3">
		<h2>Ressursar</h2>
		<ul>
			<li><a href="https://github.com/fylkesarkivet/PublicPersonArchive" target="_blank">Kjeldekoden til dette websystemet er lagt ut opent på GitHub.com</a></li>
			<li><a href="https://www.arkivverket.no/arkivutvikling/utviklingsmidler-for-arkivsektoren" target="_blank">Riksarkivarens utviklingsmidler for arkivsektoren</a></li>
		</ul>
	</div>
</div>