body {
  min-width: 300px;
}
body .container.body-content {
  padding-top: 35px;
}
body .thing-iri-box {
  color: #31708f;
  background-color: #d9edf7;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #bce8f1;
  border-radius: 4px;
}
body .thing-iri-box p {
  text-align: center;
  font-size: 14px;
  margin: 0;
}
body .content-box {
  position: relative;
}
body .content-box h2 {
  margin-top: 0;
}
body .content-box h2 i {
  margin-right: 10px;
}
body .content-box .add-button {
  position: absolute;
  top: 0;
  right: 0;
}
body .content-box .edit-delete-buttons {
  position: absolute;
  top: 0;
  right: 0;
}
body .content-box .edit-delete-buttons a:first-child {
  margin-right: 15px;
}
body .content-box .content-box-list-item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
body .content-box .content-box-list-item .content-box-list-item-edit-delete-buttons {
  position: absolute;
  top: -3px;
  right: 20px;
}
body .content-box .content-box-list-item .content-box-list-item-edit-delete-buttons a:first-child {
  margin-right: 15px;
}
body .content-box-list-item.description h3 {
  margin-bottom: 16px;
}
body .content-box-list-item.with-label h3 {
  padding-top: 0;
  margin-bottom: 0;
}
body .content-box-list-item.with-label p {
  margin-bottom: 0;
  color: #6c7378;
  padding-left: 1px;
  padding-top: 5px;
}
body .content-box-list-item.with-label ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  padding-left: 1px;
  padding-top: 5px;
  color: #6c7378;
}
body .btn.btn-default i {
  color: #31708f;
}
body button[disabled=disabled] {
  border-color: #e0e0e0 !important;
}
body button[disabled=disabled] i {
  color: #e0e0e0 !important;
}